<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_frais">Frais</label>
                    <input type="text" class="form-control" name="frais" id="field_frais"
                           formControlName="frais"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comEnvoi">Com Envoi</label>
                    <input type="text" class="form-control" name="comEnvoi" id="field_comEnvoi"
                           formControlName="comEnvoi"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comRetrait">Com Retrait</label>
                    <input type="text" class="form-control" name="comRetrait" id="field_comRetrait"
                           formControlName="comRetrait"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comSysteme">Com Systeme</label>
                    <input type="text" class="form-control" name="comSysteme" id="field_comSysteme"
                           formControlName="comSysteme"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comEtat">Com Etat</label>
                    <input type="text" class="form-control" name="comEtat" id="field_comEtat"
                           formControlName="comEtat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_clientEnvoi">Client Envoi</label>
                    <select class="form-control" id="field_clientEnvoi" name="clientEnvoi" formControlName="clientEnvoi">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('clientEnvoi').value?.id ? editForm.get('clientEnvoi').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_clientretrait">Clientretrait</label>
                    <select class="form-control" id="field_clientretrait" name="clientretrait" formControlName="clientretrait">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('clientretrait').value?.id ? editForm.get('clientretrait').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userEnvoi">User Envoi</label>
                    <select class="form-control" id="field_userEnvoi" name="userEnvoi" formControlName="userEnvoi">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('userEnvoi').value?.id ? editForm.get('userEnvoi').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userRetrait">User Retrait</label>
                    <select class="form-control" id="field_userRetrait" name="userRetrait" formControlName="userRetrait">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('userRetrait').value?.id ? editForm.get('userRetrait').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
